= "#{@reservation.name} 様"
\
オオミシマスペースの増田と申します。
\
予約申込みありがとうございます。
内容を確認後、予約の可否をメールでご返答いたします。
3日経っても返答がない場合は、Webフォームが正しく送信されなかった可能性がございます。
お手数ですが、直接メールまたはお電話にてご連絡お願い致します。
\
▼申込み内容
= render partial: 'detail', locals: {reservation: @reservation}
\
\--
\
オオミシマスペース
〒794-1403 愛媛県今治市上浦町甘崎1538
0897-72-8825（担当：増田）
http://omishima-space.com/
https://www.facebook.com/omishimaspace/
info@omishima-works.com